.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #f5f8ff;
}

header {
    background-image: url('../Assets/Hero-bg.png');
    padding-bottom: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px 0 300px;
}

nav ul {
    list-style: none;
    cursor: pointer;
    color: aqua;
}

nav li a {
    text-decoration: none;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 34px;
}

.btn {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    width: 132px;
    height: 48px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.stay {
    color: white;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cover {
    font-weight: bold;
    font-size: 65px;
}

.div1 {
    text-align: center;
    padding: 0 500px 0 500px;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 150px 300px 0 300px;
    gap: 220px;
}

.see {
    font-weight: bold;
    font-size: 42px;
}

.explore {
    color: rgba(37, 36, 50, 0.5);
    font-weight: 600px;
    font-size: 24px;
}

.launch {
    color: white;
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.img {
    border-radius: 50px;
    margin-bottom: 116px;
}

.div2 {
    margin-top: 116px;
    background-color: rgba(78, 71, 255, 0.16);
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;

}

.pra1 {
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
}

.pra2 {
    padding-bottom: 100px;
    margin: 0;
    margin-left: 10px;
    font-weight: 400px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.div3 {
    display: flex;
    justify-content: space-around;
}

.joi {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;
}

.div4 {
    padding: 0px;
}

.what {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 137px;
}

.div5 {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 290px 0 290px;
    margin-bottom: 130px;

}

.div6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    ;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin-right: 10px;
}

.rea {
    font-weight: bold;
    font-size: 50px;
}

.ger {
    color: white;
    background-color: #4E47FF;
    width: 195px;
    height: 48px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 400px;
    font-size: 16px;
}

.div7 {
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 25px;
}

.img2 {
    padding: 50px 20px;
}

.img3 {
    border-radius: 25px;
}

.div8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 300px 100px 300px;
}

.get {
    color: black;
    width: 528px;
    height: 232px;
    font-weight: bold;
    font-size: 97px;
}

.labelin {
    width: 462px;
    height: 62px;
    padding-left: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

.touch {
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    color: white;
    padding-left: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

footer {
    text-align: center;
    margin: 104px 455px 103px 455px;
}

.logo5 {
    color: #4E47FF;
    font-size: 100px;
    margin: 0;
}

.readdy {
    width: 531px;
    height: 48px;
    align-items: center;
    margin: auto;
    /* color: #252432; */
}

footer ul li {
    list-style: none;

}

footer li a {
    color: #8987A1;
    text-decoration: none;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.formin {
    width: 497px;
    height: 63px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: 400px;
    font-size: 20px;
    border: none;
}

.texta {
    padding: 10px 0 0 10px;
    border-radius: 5px;
    border: none;
}

.get3 {
    color: white;
    background-color: #4E47FF;
    width: 510px;
    height: 63px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.this {
    color: rgba(37, 36, 50, 0.5);
}

.footer2 {
    background-color: white;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}